auto_commit.sh
.DS_Store
/refs
/packages/shared/src/vector/__tests__
/node_modules
mobile/.env
/mobile/.expo
/packages
/apps/web/.next
/apps/web/.next
apps/web/.next/cache/.tsbuildinfo
apps/web/.next/diagnostics/build-diagnostics.json
