auto_commit.sh
.DS_Store
/refs
/packages/shared/src/vector/__tests__
/node_modules
mobile/.env
/mobile/.expo
packages/*/dist/
packages/*/node_modules/
packages/*/.turbo
packages/*/tsconfig.tsbuildinfo
packages/**/src/**/*.js
packages/**/src/**/*.d.ts
packages/**/src/**/*.js.map
packages/**/src/**/*.d.ts.map
/apps/web/.next
/apps/web/.next
apps/web/.next/cache/.tsbuildinfo
apps/web/.next/diagnostics/build-diagnostics.json
